@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.imp {
  display: flex;
  align-items: center;
  width: 950px;
  height: 500px;
}
.sedans {
  background: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}
.sedans,
.suvs,
.luxury {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1,
p {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
p {
  font-family: "Lexend Deca";
  font-weight: 400;
  line-height: 2;
  font-size: 15px;
}

button {
  margin: 70px 80px 0 40px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid white;
  background-color: white;
}

footer {
  position: fixed;
  display: flex;
  bottom: 10px;
  width: 100%;
  justify-content: center;
}

img {
  width: 50px;
  margin: 20px 0 10px 50px;
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

.suvs button {
  color: hsl(184, 100%, 22%);
}
.sedans button {
  color: hsl(31, 77%, 52%);
}

.sedans button:hover {
  background-color: hsl(31, 77%, 52%);
  color: white;
}
.suvs button:hover {
  background-color: hsl(184, 100%, 22%);
  color: white;
}
.luxury button:hover {
  background-color: hsl(179, 100%, 13%);
  color: white;
}

@media (max-width: 950px) {
  .imp {
    flex-direction: column;
    width: 300px;
    height: 500px;
  }
  .sedans {
    border-radius: 10px 10px 0 0;
  }
  .luxury {
    border-radius: 0 0 10px 10px;
  }
  button {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  img {
    margin-bottom: -10px;
  }
  .main {
    height: 60vh;
  }
}
